<template name="networkCard">
   <div class="ui fluid card" id="detailCard">
      <div class="image">
         <img src="/images/slo-pic.JPG">
      </div>
      <div class="content">
         <a class="header">{{activeCard.name}}</a>
         <div class="meta">
            {{activeCard.city}}
         </div>
         <div class="description">
            <p>{{activeCard.accountType}}</p>
            <p>
               {{activeCard.profile.description}}
            </p>
         </div>
      </div>
      <div class="extra content">
         <span class="right floated">
            <a id="closeLink"> Close Card</a>
         </span>
         <span>  
            {{#if receivesPresent}}
               <a id="viewReceives"> View Receives</a> 
            {{else}}
               no receives 
            {{/if}}
         </span>
         <span>  
            {{#if givesPresent}}
               <a id="viewGives"> View Gives</a> 
            {{else}}
               no gives
            {{/if}}
         </span>
      </div>
   </div>
</template>