<template name="networkCard">
   <div class="ui fluid card" id="detailCard">
      <div class="content">
         
         <section class="slick-slider">
            <img class="slider-image">
         </section>

         <a class="header">{{activeCard.name}}</a>
         <div class="meta">
            {{activeCard.city}}
         </div>
         <div class="description">
            <p>{{activeCard.accountType}}</p>
            <p>
               {{activeCard.profile.description}}
            </p>
         </div>
      </div>
      <div class="extra content">
         <span>
            <a id="closeLink"> Close Card</a>
         </span>
         <span class="right floated">  
            {{#if receivesPresent}}
               <button class="ui small button" id="viewReceives">Receives</button>
            {{/if}}
         </span>
         <span class="right floated">  
            {{#if givesPresent}}
               <button class="ui small button" id="viewGives">Gives</button>
            {{/if}}
         </span>
      </div>
   </div>
</template>